
$primary: #F5C073;
$secondary: #012B1C;
$success: #165E45;
$info: #D1DFF6;
$danger: #AD3A05;
$light: #fff0daf8;
$dark: #222222;

$gray-100: #f8f9fa;
$dark-bg-subtle: mix($gray-100, $dark);

@import 'node_modules/bootstrap/scss/bootstrap.scss';